<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Menu</a> 
        </div>
        <div class="navbar-right" style="padding: 10px;">
            <a class="btn btn-success nav-text" routerLink="/menu/order" style="margin-right: 10px;">+ Place Order</a>
            <a class="btn btn-primary nav-text" *ngIf="allOrders.length > 0" routerLink="/order-queue">Pending Orders</a> 
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
    